@import './bootstrap.min.css';


.green-bg{
  background-color: #8DC854;
}
.page-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.filler{
  flex: 1;
}
.page-wrapper ul{
  padding-left: 0;
}
.fs-20{
  font-size: 20px;
}
.fs-24{
  font-size: 24px;
}
.form-box{
  border: 1px solid #f4ffe9;
  padding: 40px 30px;
  box-shadow: 0 15px 50px rgb(0, 0, 0, 0.08);
  margin-top: 30px;
  margin-bottom: 40px;
}
.features li{
  position: relative;
  list-style: none;
  font-size: 20px;
  padding-left: 20px;
}
.features li::before{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #8DC854;
  content: '';
  border-radius: 50%;
}
.footer a{
  color: #414141;
}